/**** Start Default Theme ****/

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu .divider,
.dropdown-menu > li > a:hover,
.option-box .gear-cheack {
    background-color:#FFD500;
}

.navbar-brand span,
.about h1 span,
.testimonials span {
    color:#FFD500;
}

.option-box .color-option,
.testimonials .carousel-indicators li.active {
    border: 3px solid #FFD500;
}

.dropdown-menu {
    border-top: 3px solid #FFD500;
}

/**** End Default Theme ****/  